.go-module-icon-cticket , .go-menu-icon-cticket{
	background:url('images/ticket.png');
}

.go-tab-icon-cticket {
	background-image: none !important;
}

.go-model-icon-GO_Cticket_Model_Ticket{
	background-image: url('images/ticket.png') !important;
}

.ct-btn-categories{
	background-image: url('images/gtk-settings.png') !important;
}

.ct-btn-statuses{
	background-image: url('images/gtk-settings.png') !important;
}
