.go-module-icon-cticket , .go-menu-icon-cticket , .go-tab-icon-cticket {
	background-image:url('images/ticket.png') !important;
}
.go-link-icon-4 {
	background-image: url('images/ticket.png') !important;
}

.ct-btn-categories{
	background-image: url('images/categories.png') !important;
}

.ct-btn-statuses{
	background-image: url('images/categories.png') !important;
}
